<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TimetablePackage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TimetablePackage.Properties.Settings.ttpConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ttp.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <TimetablePackage.Properties.Settings>
            <setting name="MainTitle" serializeAs="String">
                <value>Timetable Package</value>
            </setting>
            <setting name="InstitutionName" serializeAs="String">
                <value />
            </setting>
            <setting name="AddressLine1" serializeAs="String">
                <value />
            </setting>
            <setting name="AddressLine2" serializeAs="String">
                <value />
            </setting>
            <setting name="AddressLine3" serializeAs="String">
                <value />
            </setting>
            <setting name="CityName" serializeAs="String">
                <value />
            </setting>
            <setting name="Country" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Telephone" serializeAs="String">
                <value />
            </setting>
            <setting name="WebSiteInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="AcademicYearInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="isTurkish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isFrench" serializeAs="String">
                <value>False</value>
            </setting>
        </TimetablePackage.Properties.Settings>
    </userSettings>
</configuration>
